<div class="pages">
  <div class= "container">
    <div class= "row  myFlights">
      <div class = "col-md-12">
        <div class="panel-body" align ="center">
          <h3>All Flights</h3>
        <%= render 'flights/flights' %>
        </div>

      </div>
    </div>
  </div>
</div>