<div class="nested-fields form-inline">
  <div class="form-group">
    <%= f.text_field :name, id: 'passenger_name', class: 'form-control', placeholder: 'Passenger Name' %>
  </div>
  <span>-</span>
  <div class="form-group">
    <%= f.text_field :email, id: 'passenger_email', class: 'form-control', placeholder: 'Passenger Email' %>
  </div>
  <div class="links pull-right">
    <%= link_to_remove_association 'Delete', f, class: 'btn btn-danger' %>
  </div>
  <hr>
</div>